.bg_3 {
  background-image: url("~src/assets/bg_3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.imgs {
  height: 95%;
  width: 95%;
}

.fighters-name {
  text-align: center;
  font-family: "Star Jedi", Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.side-text {
  text-align: center;
  font-family: "PoppinsBlack", sans-serif;
  font-size: 24px;
}

.block-center {
  position: absolute;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
