<div class="bg_3">
  <div class="container" style="color: white; padding-top: 100px">
    <div class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a style="color: white; font-family: PoppinBold, Arial, Helvetica, sans-serif; font-size: 16px"
           class="navbar-brand" href="#"><img style="padding-right: 10px" src="assets/user.png" alt="">Felvételiző
          pilóta</a>
        <a
          style="color: white; font-family: PoppinBold, Arial, Helvetica, sans-serif; font-size: 16px; padding-right: 10px"
          class="btn" routerLink="/">Űrhajó
          elhagyása<img class src="assets/logout.png" alt=""></a>
      </div>
    </div>
    <hr>
    <div>
      <p style="font-family: 'Star Jedi', Arial, Helvetica, sans-serif; font-size: 60px; text-align: center">
        A tudás legyen veled!
      </p>
    </div>
    <div class="row">
      <div class="col-4">
        <img class="imgs" src="/assets/{{darkSide.id}}.png" alt="{{darkSide.id}}">
      </div>
      <div class="col-4">
        <div>
          <p style="font-family: DistantGalaxy, Arial, Helvetica, sans-serif; font-size: 150px; text-align: center">
            vs
          </p>
        </div>
      </div>
      <div class="col-4">
        <img class="imgs" src="/assets/{{lightSide.id}}.png" alt="{{lightSide.id}}">
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p><ngb-progressbar type="warning" textType="dark" [value]="100" [showValue]="true"></ngb-progressbar></p>
      </div>
      <div class="col-6">
        <p><ngb-progressbar type="warning" textType="dark" [value]="100" [showValue]="true"></ngb-progressbar></p>
      </div>
    </div>
  </div>
</div>
