<div class="bg_1 mat-typography" style="text-align: center;">
  <h1 style="font-family: StarWars, Arial, Helvetica, sans-serif;
           font-size: 30px;
           color: white">
    WEBSTAR</h1>

  <h1 style="font-family: DistantGalaxy, Arial, Helvetica, sans-serif;
           font-size: 70px;
           color: white; margin-top: 60px; margin-bottom: 60px">FRONTEND</h1>
<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <form [formGroup]="form">
        <label class="wrapper" style="color: white">Felhasználónév</label>
        <input class="fadeIn second" name="username" formControlName="username" type="text" id="username">
        <div><small
          *ngIf="!form.get('username').valid && form.get('username').touched" class="text-danger">
          Please enter your username</small></div>
        <div style="margin-bottom: 50px">
        <label class="wrapper" style="color: white">Jelszó</label>
        <input class="fadeIn third" name="password" formControlName="password" type="text"
               id="password">
        <div>
          <small
          *ngIf="!form.get('password').valid && form.get('password').touched" class="text-danger">
          Please enter your password</small></div>
        <input style="margin-top: 30px" type="submit" class="fadeIn fourth" value="Belépés" [disabled]="!form.valid" (click)="onSubmit()">
        </div>
      </form>

    </div>
  </div>
</div>
</div>

