<div class="bg_2">
  <div class="container" style="color: white; padding-top: 100px">
    <div class="navbar navbar-expand-lg">
      <div class="container">
        <a style="color: white; font-family: PoppinBold, Arial, Helvetica, sans-serif; font-size: 16px"
           class="navbar-brand" href="#"><img style="padding-right: 10px" src="assets/user.png" alt="">Felvételiző
          pilóta</a>
        <a
          style="color: white; font-family: PoppinBold, Arial, Helvetica, sans-serif; font-size: 16px; padding-right: 10px"
          class="btn" routerLink="/">Űrhajó
          elhagyása<img class src="assets/logout.png" alt=""></a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-6">
        <p style="color: white; font-family: PoppinsBlack, Arial, Helvetica, sans-serif; font-size: 24px">Válassz két
          harcost
          az ellenkező oldalakból!</p>
        <div>
          <div>

            <label style="font-family: PoppinBold, Arial, Helvetica, sans-serif; font-size: 16px; color: #F7B500"
                   class="form-check-label">Oldal</label>
            <div>
              <p>{{characters[userIndex].side}}</p>
            </div>
          </div>
          <div>
            <label style="font-family: PoppinBold, Arial, Helvetica, sans-serif; font-size: 16px; color: #F7B500"
                   class="form-check-label">Különleges erő</label>
            <div>
              <p>{{characters[userIndex].power}}</p>
            </div>
          </div>
          <div>

            <label style="font-family: 'Star Jedi', Arial, Helvetica, sans-serif; font-size: 90px; color: white"
                   class="form-check-label;" [innerHTML]="characters[userIndex].name"></label>
          </div>
          <div>
            <a class="btn btn-outline-warning"
               style="font-family: 'PoppinBold', Arial, Helvetica, sans-serif;
               font-size: 16px;
               color: white;
               margin-top: 20px;
               margin-bottom: 20px"
               (click)="choseCharacter()"
               [ngClass]="{'chosenCharacter' : chosenDark === characters[userIndex] ||
                                               chosenLight === characters[userIndex]}">Kiválasztom</a>
          </div>

          <div>
            <label
              style="font-family: PoppinBold, Arial, Helvetica, sans-serif; font-size: 16px; color: white; margin-bottom: 20px"
              class="form-check-label">Leírás</label>
            <div>
              <p>{{characters[userIndex].description}}</p>
            </div>
          </div>
          <div>
            <a style="font-family: 'PoppinsRegular', Arial, Helvetica, sans-serif; font-size: 16px; color: white">
            </a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="align-right">
          <img src="assets/arrow_circle.png" alt="" (click)="decreaseIndex();">
          <img class="flip" src="assets/arrow_circle.png" alt="" (click)="increaseIndex();">
        </div>
        <div *ngFor="let char of characters | slice:userIndex:userIndex+1">
          <img class="imgs" src="assets/{{char.id}}.png" alt="{{char.id}}">
        </div>
        <div *ngIf="simulation" class="center-fight">
          <a class="btn" style="font-family: 'Star Jedi', Arial, Helvetica, sans-serif;
              font-size: 20px;
              background-image: linear-gradient(#00D2FF, #FF3232);" (click)="goToFight()">KÜZDELEM SZMULÁLÁSA</a>
        </div>
      </div>
    </div>
  </div>
</div>
