<div class="bg_2">
    <div class="user container" style="color: white; padding-top: 100px">
      <img style="float: left; padding-right: 10px" class src="assets/user.png" alt="">
      <p style="color: white; font-family: PoppinBold, Arial, Helvetica, sans-serif; font-size: 16px">Felvételiző pilóta</p>
      <p style="color: white; font-family: PoppinBold, Arial, Helvetica, sans-serif; font-size: 16px; float: right">Űrhajó elhagyása</p>
      <img style="float: right; padding-right: 10px" class src="assets/logout.png" alt="">
      <hr>
    </div>
</div>
