<div class="bg_2">
<div class="container" style="color: white; padding-top: 100px">
  <div class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a style="color: white; font-family: PoppinBold, Arial, Helvetica, sans-serif; font-size: 16px"
         class="navbar-brand" href="#"><img style="padding-right: 10px" src="assets/user.png" alt="">Felvételiző
        pilóta</a>
      <a
        style="color: white; font-family: PoppinBold, Arial, Helvetica, sans-serif; font-size: 16px; padding-right: 10px"
        class="btn">Űrhajó
        elhagyása <img class src="assets/logout.png" alt=""></a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <p style="color: white; font-family: PoppinsBlack, Arial, Helvetica, sans-serif; font-size: 24px">Válassz két
        harcost
        az ellenkező oldalakból!</p>
      <div *ngFor="let character of characters;">
        <div>

          <label style="font-family: PoppinBold, Arial, Helvetica, sans-serif; font-size: 16px; color: #F7B500"
                 class="form-check-label">Oldal: {{character.side}} </label>
        </div>
        <div>
          <label style="font-family: PoppinBold, Arial, Helvetica, sans-serif; font-size: 16px; color: #F7B500"
                 class="form-check-label">Különleges erő: </label>
        </div>
        <div>

          <label style="font-family: 'Star Jedi', Arial, Helvetica, sans-serif; font-size: 90px; color: white"
                 class="form-check-label"></label>
        </div>
        <div>
          <a class="btn btn-outline-warning"
             style="font-family: 'PoppinBold', Arial, Helvetica, sans-serif; font-size: 16px; color: white">Kiválasztom</a>
        </div>
        <div>
          <label style="font-family: PoppinBold, Arial, Helvetica, sans-serif; font-size: 16px; color: white"
                 class="form-check-label">Leírás</label>
        </div>
        <div>
          <a style="font-family: 'PoppinsRegular', Arial, Helvetica, sans-serif; font-size: 16px; color: white">
          </a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div>
        <ngb-carousel *ngIf="Images" [showNavigationArrows]="showNavigationArrows">
          <ng-template ngbSlide *ngFor="let image of Images">
            <div class="picsum-img-wrapper">
              <img class="imgs" [src]="image.src" [alt]="image.alt">
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>
</div>
