@font-face {
  font-family: "PoppinBold";
  src: local("PoppinBold"), url("~src/assets/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PoppinsBlack";
  src: local("PoppinsBlack"), url("~src/assets/fonts/Poppins-Black.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsRegular";
  src: local("PoppinsRegular"), url("~src/assets/fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "StarWars";
  src: local("StarWars"), url("~src/assets/fonts/Starjedi.ttf") format("truetype");
}

@font-face {
  font-family: "DistantGalaxy";
  src: local("DistantGalaxy"), url("~src/assets/fonts/SfDistantGalaxyAltoutline-e2Bp.ttf") format("truetype");
}


html, body {

  height: 100%;
  width:100%;

}
body {padding: 0; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
